@import '../index.scss';

.allthingscontainer{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.navpages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4px;
    height:fit-content;
}
.navpages img{
    width: 24;
    height: 24;
}

#listify-logo {
}