@import '../shared.scss';

.authorized-view{
    margin-top: 60px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    .tab-content{
        height: 100%;
        width: 100%;
        .tab-pane{
            height: 100%;
            width: 100%;
        }
    }
}

#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: $bg-color;
}

#left-tabs-example-tabpane-search{
    padding: 12px 24px;
}
