@import '../index.scss';

.authorized-view{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    .tab-content{
        height: 100%;
        width: 100%;
        .tab-pane{
            padding: 12px 24px;
            height: 100%;
            width: 100%;
        }
    }
}

.allthingscontainer{
    display: flex;
    flex-direction: column;
    height: 100%;

}

.navpages {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4px;
    height:fit-content;
}
.navpages img{
    width: 24;
    height: 24;
}
