

.tabs{
    display: flex;
    padding: 10px;
}

.bg{
    width: 290px;
    height: 476px;
    position: fixed;
    top: 50%;
    left: 50%;
    left: 575px;
    top: 200px;
    filter: blur(2px);
}
.searchcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 16px;
    top: 250px;
    width: 100%
}


.searchbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
}

.searchinput{
    width: 100%;

}
/*  change the position only   
    position: absolute;
    width: 640px;
    height: 84px;
    left: 400px;
    top: 439px; */


