@import '../shared.scss';

.start-view {
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    img{
        max-height: 30vh;
        margin-bottom: 20px;
    }

    .fa-spotify::before {
            display: inline-block;
            min-height: 21px;
            min-width: 21px;
            margin-right: 6px;
            color: $spotify-green;
    }
}

#intro {
    font-style: italic;
    display: block;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 15px;
}

#intro-header {
    margin-top: 40px;
}