@import '../index.scss';

.tracksview{
/*     display: flex;
    flex-direction: column;
    margin-bottom: 8px; */
    padding-top: 8px;
    height: 966px;
    background-color: $purple-color;

}

.fake-button{
    cursor: pointer;
}
.pagetitle{
    display: flex;
    flex-direction: row;
}

.pagetitle p{
    color: $light-color;
    padding-left: 16px;
    margin-right: 8px;
}

.pagetitle img{
   width: 24px;
   height: 24px;
}

// trackitem display


.t-tabletitle {
    display: flex;
    margin-inline: 8px;
    border:transparent


}

.t-tabletitle thead{
    width: 100%;
    padding-inline: 4px;
}


.t-tabletitle tr{
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    width: 100%;
}

.t-tabletitle th{
    border: transparent;
}

.trackscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 8px;
}

.card{
    display:flex;
    flex-direction: row;
    width: 100%;
}
.cardcontent{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }

.t-index{
    margin-right: 8px;
}
.song-cover{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.t-songcover{
    width: 48px;
    height: 48px;
    margin: 8px;

}
.song-name{
    flex: 1.5;
    padding-right: 4px;
    color:gray;
}
.song-artist{
    flex: 1;
    padding-right: 4px;
    color:gray;
}
.song-album{
    flex: 1;
    padding-right: 4px;
    color:gray;
}

.cardbody {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 8px;
    width:100%
}


.t-songitem{
display: flex;
flex-direction: row;
align-items: center;
background-color: white;
padding-inline: 8px;
//width needs change
width: 100%;
margin-bottom: 8px;

}

.card{
    border:none;
}

.t-actions{
    display: flex;
    flex-direction: column;
    align-items:center

}


.t-actions button{
    margin: 0;
    padding:0;
    background-color: transparent;
    border:transparent
}

.new-playlist{
    display: inline-flex;
    flex-direction: row-reverse;
    padding-right: 8px;
    width: 100%;

}
.form-check {
    position: relative;
    display: block;
    padding-left: 1.75rem;
}