@import '../index.scss';

.tracksview{
/*     display: flex;
    flex-direction: column;
    margin-bottom: 8px; */
    padding-top: 8px;
    height: 966px;
    background-color: $purple-color;

}

.pagetitle{
    display: flex;
    flex-direction: row;
}

.pagetitle p{
    color: $light-color;
    padding-left: 16px;
    margin-right: 8px;
}

.pagetitle img{
   width: 24px;
   height: 24px;
}

// trackitem display

.tabletitle {
    display: flex;
    justify-content: space-between;
    margin: 12px;

}
.tabletitle thead{
    justify-content: space-between;
    width: 100%;
    padding-inline: 4px;
}

.tabletitle tr{
    display: flex;
    justify-content: space-between;
    padding-right: 36px;
    width: 100%;
}
.trackscontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 12px;
}

.cardcontent{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
.song-name{
    flex: 1.5;
    padding-right: 4px;
    color:gray;
}
.song-artist{
    flex: 1;
    padding-right: 4px;
    color:gray;
}
.song-album{
    flex: 1;
    padding-right: 4px;
    color:gray;
}

.cardbody {
    display: flex;
    flex-direction: row-reverse;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline-end: 8px;
    width:100%
}

.songitem{
display: flex;
justify-content: space-between;
align-items: center;
//width needs change
width: 100%;
margin-bottom: 8px;

}

.card{
    border:none;
}
.Actions{
    display: flex;
    flex-direction: column;
    align-items:flex-end

}

.Actions button{
    margin: 0;
    padding:4px
}
