@import './shared.scss';

body{
  height: 100vh;
  overflow-y: scroll;
  #root{
    height: 100%;
  }
}

// Bootstrap customization
$theme-colors: (
  // set primary, secondary, success, info, danger, warning, light, dark, link
  "primary": $primary-color,
  "secondary": $secondary-color,
  "highlight": $orange-color,
  "dark":$purple-color,
  "light": $light-color,
  "white": $bg-color,
  "transparent":$transparent-color,
  "info": $dark-color
  
);
$body-bg: $bg-color;
@import "~bootstrap/scss/bootstrap";