// global variables for all stylesheets
$bg-color: #F2F2F2;
$primary-color: #7992A3;
$orange-color: #FD570B;
$pink-color:#F8BAD1;
$purple-color:#27187E;
$secondary-color: #BDDCF0;
$dark-color: #79A385;
$light-color: #D5F0DD