// global variables for all stylesheets
$bg-color: #F2F2F2;
// primary-color is for font
$primary-color: #212529;
$secondary-color: #FD570B;
$orange-color: #FD570B;
$pink-color:#F8BAD1;
$purple-color:#27187E;
$dark-color: #212529;
$light-color: #F8F9FA;
$transparent-color: transparent;